<style>
    .modal-add-cart-product-img {
        margin-top: -30px;
    }
</style>
<!-- Start Offcanvas Addcart Section -->
<div id="offcanvas-add-cart" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
  <!-- Start Offcanvas Header -->
  <div class="offcanvas-header text-right">
      <button class="offcanvas-close"><i class="ion-android-close"></i></button>
  </div> <!-- End Offcanvas Header -->

  <!-- Start  Offcanvas Addcart Wrapper -->
  <div class="offcanvas-add-cart-wrapper">
      <h4 class="offcanvas-title">Shopping Cart</h4>
      <ul class="offcanvas-cart">
          <li class="offcanvas-cart-item-single">
              <div class="offcanvas-cart-item-block">
                  <a href="#" class="offcanvas-cart-item-image-link">
                      <img src="" alt=""
                          class="offcanvas-cart-image">
                  </a>
                  <div class="offcanvas-cart-item-content">
                      <a href="#" class="offcanvas-cart-item-link">Car Wheel</a>
                      <div class="offcanvas-cart-item-details">
                          <span class="offcanvas-cart-item-details-quantity">1 x </span>
                          <span class="offcanvas-cart-item-details-price">$49.00</span>
                      </div>
                  </div>
              </div>
              <div class="offcanvas-cart-item-delete text-right">
                  <a href="#" class="offcanvas-cart-item-delete"><i class="fa fa-trash-o"></i></a>
              </div>
          </li>
          <li class="offcanvas-cart-item-single">
              <div class="offcanvas-cart-item-block">
                  <a href="#" class="offcanvas-cart-item-image-link">
                      <img src="" alt=""
                          class="offcanvas-cart-image">
                  </a>
                  <div class="offcanvas-cart-item-content">
                      <a href="#" class="offcanvas-cart-item-link">Car Vails</a>
                      <div class="offcanvas-cart-item-details">
                          <span class="offcanvas-cart-item-details-quantity">3 x </span>
                          <span class="offcanvas-cart-item-details-price">$500.00</span>
                      </div>
                  </div>
              </div>
              <div class="offcanvas-cart-item-delete text-right">
                  <a href="#" class="offcanvas-cart-item-delete"><i class="fa fa-trash-o"></i></a>
              </div>
          </li>
          <li class="offcanvas-cart-item-single">
              <div class="offcanvas-cart-item-block">
                  <a href="#" class="offcanvas-cart-item-image-link">
                      <img src="" alt=""
                          class="offcanvas-cart-image">
                  </a>
                  <div class="offcanvas-cart-item-content">
                      <a href="#" class="offcanvas-cart-item-link">Shock Absorber</a>
                      <div class="offcanvas-cart-item-details">
                          <span class="offcanvas-cart-item-details-quantity">1 x </span>
                          <span class="offcanvas-cart-item-details-price">$350.00</span>
                      </div>
                  </div>
              </div>
              <div class="offcanvas-cart-item-delete text-right">
                  <a href="#" class="offcanvas-cart-item-delete"><i class="fa fa-trash-o"></i></a>
              </div>
          </li>
      </ul>
      <div class="offcanvas-cart-total-price">
          <span class="offcanvas-cart-total-price-text">Subtotal:</span>
          <span class="offcanvas-cart-total-price-value">$170.00</span>
      </div>
      <ul class="offcanvas-cart-action-button">
          <li><a href="/cart" class="btn btn-block btn-golden">View Cart</a></li>
          <li><a href="/checkout" class=" btn btn-block btn-golden mt-5">Checkout</a></li>
      </ul>
  </div> <!-- End  Offcanvas Addcart Wrapper -->

</div> <!-- End  Offcanvas Addcart Section -->

<!-- Start Offcanvas Mobile Menu Section -->
<div id="offcanvas-wishlish" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
  <!-- Start Offcanvas Header -->
  <div class="offcanvas-header text-right">
      <button class="offcanvas-close"><i class="ion-android-close"></i></button>
  </div> <!-- ENd Offcanvas Header -->

  <!-- Start Offcanvas Mobile Menu Wrapper -->
  <div class="offcanvas-wishlist-wrapper">
      <h4 class="offcanvas-title">Wishlist</h4>
      <ul class="offcanvas-wishlist">
          <li class="offcanvas-wishlist-item-single">
              <div class="offcanvas-wishlist-item-block">
                  <a href="#" class="offcanvas-wishlist-item-image-link">
                      <img src="" alt=""
                          class="offcanvas-wishlist-image">
                  </a>
                  <div class="offcanvas-wishlist-item-content">
                      <a href="#" class="offcanvas-wishlist-item-link">Car Wheel</a>
                      <div class="offcanvas-wishlist-item-details">
                          <span class="offcanvas-wishlist-item-details-quantity">1 x </span>
                          <span class="offcanvas-wishlist-item-details-price">$49.00</span>
                      </div>
                  </div>
              </div>
              <div class="offcanvas-wishlist-item-delete text-right">
                  <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
              </div>
          </li>
          <li class="offcanvas-wishlist-item-single">
              <div class="offcanvas-wishlist-item-block">
                  <a href="#" class="offcanvas-wishlist-item-image-link">
                      <img src="" alt=""
                          class="offcanvas-wishlist-image">
                  </a>
                  <div class="offcanvas-wishlist-item-content">
                      <a href="#" class="offcanvas-wishlist-item-link">Car Vails</a>
                      <div class="offcanvas-wishlist-item-details">
                          <span class="offcanvas-wishlist-item-details-quantity">3 x </span>
                          <span class="offcanvas-wishlist-item-details-price">$500.00</span>
                      </div>
                  </div>
              </div>
              <div class="offcanvas-wishlist-item-delete text-right">
                  <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
              </div>
          </li>
          <li class="offcanvas-wishlist-item-single">
              <div class="offcanvas-wishlist-item-block">
                  <a href="#" class="offcanvas-wishlist-item-image-link">
                      <img src="" alt=""
                          class="offcanvas-wishlist-image">
                  </a>
                  <div class="offcanvas-wishlist-item-content">
                      <a href="#" class="offcanvas-wishlist-item-link">Shock Absorber</a>
                      <div class="offcanvas-wishlist-item-details">
                          <span class="offcanvas-wishlist-item-details-quantity">1 x </span>
                          <span class="offcanvas-wishlist-item-details-price">$350.00</span>
                      </div>
                  </div>
              </div>
              <div class="offcanvas-wishlist-item-delete text-right">
                  <a href="#" class="offcanvas-wishlist-item-delete"><i class="fa fa-trash-o"></i></a>
              </div>
          </li>
      </ul>
      <ul class="offcanvas-wishlist-action-button">
          <li><a href="#" class="btn btn-block btn-golden">View wishlist</a></li>
      </ul>
  </div> <!-- End Offcanvas Mobile Menu Wrapper -->

</div> <!-- End Offcanvas Mobile Menu Section -->

<!-- Start Offcanvas Search Bar Section -->
<div id="search" class="search-modal">
  <button type="submit" class="close">×</button>
  <form id="search-form">
    <input type="search" id="search-input" placeholder="Search products...">
      <button type="submit" class="btn btn-lg btn-golden">Search</button>
  </form>
</div>
<!-- End Offcanvas Search Bar Section -->

<!-- Offcanvas Overlay -->
<div class="offcanvas-overlay"></div>

<!-- Start Modal Add cart -->
<div class="modal fade" id="modalAddcart" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close modal-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"> <i class="fa fa-times"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="modal-add-cart-product-img">
                                        <img class="img-fluid" id="modalProductImage" src="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="modal-add-cart-info"><i class="fa fa-check-square"></i>Added to cart successfully!</div>
                                    <div class="modal-add-cart-product-cart-buttons">
                                        <a href="/cart">View Cart</a>
                                        <a href="/checkout">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 modal-border">
                            <ul class="modal-add-cart-product-shipping-info">
                                <li> <strong><i class="icon-shopping-cart"></i> There Are <span id="modalCartItemCount">0</span> Items In Your Cart.</strong></li>
                                <li> <strong>TOTAL PRICE: </strong> <span id="modalTotalPrice">₹0.00</span></li>
                                <li class="modal-continue-button">
                                    <a href="#" id="continueShopping">CONTINUE SHOPPING</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Modal Add cart -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const addToCartButtons = document.querySelectorAll('.add-to-cart');
    addToCartButtons.forEach(button => {
        button.addEventListener('click', function(e) {
            e.preventDefault();
            const productId = this.getAttribute('data-product-id');
            addToCart(productId);
        });
    });
});

const continueShoppingbtn = document.getElementById('continueShopping');

continueShoppingbtn.addEventListener('click', (e) => {
    e.preventDefault();

    const modal = document.getElementById('modalAddcart');
    const modalInstance = bootstrap.Modal.getInstance(modal);
    modalInstance.hide();
});

function addToCart(productId) {
    console.log('productId', productId);
    fetch('/addToCart', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ productId: productId, quantity: 1 }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            updateCartModal(data);
            $('#modalAddcart').modal('show');
        } else {
            alert('Failed to add item to cart');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while adding the item to cart');
    });
}

function updateCartModal(data) {
    console.log('data', data)
    const product = data.product;
    const images = product.images;
    document.getElementById('modalProductImage').src = images.highResolutionPhotos;
    document.getElementById('modalCartItemCount').textContent = data.cartItemCount;
    document.getElementById('modalTotalPrice').textContent = `₹${data.totalPrice.toFixed(2)}`;
}

</script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascript/productListing.js"></script>
