.img-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}

.img-thumbnail {
    max-height: 180px;
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 4px;
    display: block;
    width: auto;
    max-width: 100%;
    margin-right: 10px;
}

.btn-danger.btn-sm {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 8px;
    font-size: 0.75rem;
    border-radius: 4px;
    white-space: nowrap;
}

.error-message-container {
    height: 20px; 
    margin-top: 5px;
}

.modal-dialog {
    max-width: 80vw;
    margin: 1.75rem auto;
}

.modal-content {
    border-radius: 0.5rem;
}

.image-cropper-wrapper {
    height: 60vh;
    width: 100%;
}

.modal-body img {
    max-width: 100%;
    max-height: 60vh;
    display: block;
    margin: auto;
}
